<div class="container main-container contenedorBuscar">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input [(ngModel)]="buscar"
                name="buscar"
                (keyup.enter)="buscarPelicula()"
                type="text"
                class="form-control"
                placeholder="Buscar">
            </div>
        </div>
    </div>

<div class="row">
 
    <div class="card-columns">
        <div class="card" *ngFor="let pelicula of _ps.buscarR">
          <img class="card-img-top" [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title">
          <div class="card-body">
            <h5 class="card-title">{{pelicula.original_title}}</h5>
            <p class="card-text text-justify">{{ pelicula.overview | slice:0:250 }} ...</p>
            <button type="button" [routerLink]="['/pelicula', pelicula.id, 'buscar']" class="btn btn-outlet-primary btn-block">Ver más...</button>
          </div>
        </div>
        
      </div>

</div>

</div>


