<!-- Footer -->
<footer class="bg-dark text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/david.baastzuc" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/david-baas-tzuc-0a412719b/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/davidbaas1994/peliculasApp/branches" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>David Adiel Baas Tzuc
        </p>
      </section>
      <!-- Section: Text -->
  
    
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 TMDB:
      <a class="text-white" href="https://www.themoviedb.org/?language=es">TMBD.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->